*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(189, 175, 155, 0.264);
}
.box{
  padding: 4vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  background-color: rgba(189, 175, 155, 0.264);
}
.box:hover{
  box-shadow: 10px 10px 10px 5px red;
}
h1{
  font-size: 5vw;
}
h6{
  font-size: 2vw;
}
#date{
  padding: 1.5vw;
  width: 30vw;
}
#btn{
  padding: 2vw;
  width: 20vw;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: burlywood;
}
#btn:hover{
  cursor: pointer;
  color: burlywood;
  background-color: white;
  border: 1px solid burlywood;
}