*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(189, 175, 155, 0.264);
}
.box{
  padding: 4vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  background-color: rgba(189, 175, 155, 0.264);
}
.box:hover{
  box-shadow: 10px 10px 10px 5px red;
}
h1{
  font-size: 5vw;
}
label{
  font-size: 3vw;
}
input{
  padding: 1vw;
  width: 50vw;
  border: none;
  border-radius: 10px;
}
.zoom{
  margin-top: 5vh;
}
#addbtn{
  padding: 1vw;
  width: 15vw;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: burlywood;
  margin-bottom: 5vh;
}
#addbtn:hover{
  cursor: pointer;
  color: burlywood;
  background-color: white;
  border: 1px solid burlywood;
}
#result{
  margin-top: 3vh;
}
ul{
  list-style: none;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 2vh;
}
li{
  display: flex;
  justify-content: space-between;
  background-color:burlywood;
  width: 100%d;
  padding: 1vw;
  border-radius: 10px;
}
.delbtn{
  padding: .5vw;
  width: 10vw;
  color: black;
  background-color: bisque;
  border-radius: 10px;
  border: none;
}
.delbtn:hover{
  cursor: pointer;
  color: burlywood;
  background-color: white;
  border: 1px solid burlywood;
}

